.dashboard {
    display: flex; /* Use flexbox to create a horizontal layout */
    height: 100vh; /* Make the dashboard fill the full viewport height */
  }
  
  .dashboard-content {
    flex-grow: 1; /* Allow the content area to grow and take up remaining space */
    padding: 20px;
  
  }
  
  .dashboard-header {
    display: flex; /* Use flexbox for header layout */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px; /* Add padding to separate from sidebar */
  }
  
  .dashboard-header h2 {
    font-size: 24px;
  }
  
  .dashboard-controls {
    display: flex; /* Use flexbox for controls layout */
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .notification-icon,
  .profile-icon {
    font-size: 20px;
    color: #0074D9;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow cards to wrap to the next row */
    gap: 20px; /* Add spacing between cards */
  }
  
  .dashboard-card {
    background-color:white; /* Card background color */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); 
    flex: 1; /* Each card takes equal width */
    max-width: calc(25% - 20px); /* Set max-width for responsiveness */
    text-align: center;
   
  }
  
  .dashboard-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .dashboard-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .lower-cards {
    display: flex; /* Make children align horizontally */
    justify-content: space-between;
    
     padding: 0 20px;  /* Add spacing between cards */
  }
  .inline-content {
    /* Style the inline container */
    display: flex;
    align-items: center;
  }
  
  .inline-content p {
    /* Style the numbers */
    margin-right: 10px; /* Add some spacing between the number and the percent image */
  }
  
  .inline-content img {
    /* Style the percent image */
    width: 50px;
    height: 50px;
    /* Add any other styles you need */
  }