.dashboard {
    display: flex; 
    height: 100vh; 
  }
  
  .dashboard-content {
    flex-grow: 1; 
    padding: 20px;
  
  }
  
  .dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px; 
  }
  
  .dashboard-header h2 {
    font-size: 24px;
  }
  
  .dashboard-controls {
    display: flex; 
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .notification-icon,
  .profile-icon {
    font-size: 20px;
    color: #0074D9;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px; 
  }
  
  .dashboard-card {
    background-color:white; 
    border-radius: 30px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1); 
    flex: 1; /* Each card takes equal width */
    max-width: calc(25% - 20px); /* Set max-width for responsiveness */
    
   
  }
  
  /* .dashboard-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  } */
  
  .dashboard-card p {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  .lower-cards {
    display: flex; 
    justify-content: space-between;
    padding: 0 20px; 
  }
  .inline-content {
    
    display: flex;
    align-items: center;
  }
  
  .inline-content p {

    margin-right: 10px; 
  }
  
  .inline-content img {
  
    width: 50px;
    height: 50px;
   
  }